.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.change-cursor {
    cursor: help;
}

.link-primary {
    cursor: pointer;
    text-decoration: underline;
}

.accordion.shadow {
    border-radius: var(--bs-accordion-border-radius);
}